*/.DS_Store
.DS_Store
figs/*
figs/
Old/*
energySim/*
EnergyTransitionCosts.py
AdditionalData/BolingerEtAl2022/*
AdditionalData/OurWorldInData/*


# Byte-compiled / optimized / DLL files
*/__pycache__/
__pycache__/
*.py[cod]